body {
    background: rgb(85, 144, 189);
    background: linear-gradient(
      90deg,
      rgb(195, 77, 111) 0%,
      rgb(148, 35, 101) 54%,
      rgb(189, 18, 18) 82%
    );
    text-align: center;
    font-family: sans-serif;
  }

  h1 {
    color: white;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
  }
  
  img {
    width: 50%;
    border-radius: 20%;
    box-shadow: 0 6px 60px rgba(23, 23, 2323, 23);
    background-color: rgba(255, 255, 255, 0.292);
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    
  }
  
  .name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  
  .card p {
    color: azure;
    margin: 5px;
  }
  
  .buttons {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 20%;
    margin-left: 23%;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
    
    

  }

  .buttonAll {

    background-color: adjust-hue($color: #d29d22, $degrees: 10);
    padding: 20px;
    border-radius: 20%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(24, 20, 16);
    cursor: pointer;

  }

  button {
    
    background-color: adjust-hue($color: #6e25b7, $degrees: 30);
    padding: 20px;
    border-radius: 20%;
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
    cursor: pointer;
    
  }

  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .buscador {
    display: block;
    background-color: adjust-hue($color: #6e25b7, $degrees: 30);
    padding: 20px;
    border-radius: 20%;
    font-size: 20px;
    color: rgb(223, 220, 189);
    cursor: pointer;
    transition: width 3s ease-in-out;
    width: 1.8%;
    // background-image: url(https://cdn-icons-png.flaticon.com/128/751/751381.png);
    // background-repeat:no-repeat;
    // background-attachment: fixed;
    ;
  }

  .buscador:focus {
    width: 30%;
  }
 